
/* начало шапка */

.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 84.90vw;
    padding-left: 2.40vw;
    margin-bottom: 11.56vw;
}

.left {
    background-image: url("/media/header_left_back.svg");
    background-size: 22.03vw 46.82vw;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 51.72vw;
    width: 25.57vw;
    position: relative;
    margin-top: -8.13vw;
}

.left img {
    position: absolute;
    top: 0;
    right: 0;
    width: 23.39vw;
    height: 49.17vw;

}

.middle {
    background-image: url("/media/header_middle_back.svg");
    background-size: 29.01vw 17.29vw;
    background-repeat: no-repeat;
    background-position: center;
    height: 33.23vw;
    width: 29.01vw;
    position: relative;
    text-align: center;
}

.middle img {
    width: 26.56vw;
    height: 33.23vw;

}

.right {
    background-image: url("/media/header_right_back.svg");
    background-size: 22.86vw 32.92vw;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 35.05vw;
    width: 25.42vw;
    position: relative;
}

.right img {
    position: absolute;
    top: 0;
    left: 0;
    width: 24.17vw;
    height: 33.23vw;

}

.head_cont {
    display: flex;
    justify-content: space-between;
    width: 57.19vw;
}

.header p {
    text-align: center;
    font-size: 3.65vw;
    font-weight: 300;
}
/* конец шапка */
/* начало о компании */
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 79.38vw;
    margin: auto;
    margin-bottom: 11.56vw;
}
.about_text h1{
    text-align: left;
    font-size: 2.50vw;
    font-weight: 500;
}
.about_text p{
    text-align: left;
    font-size: 1.88vw;
    text-align: justify;
    margin: 2.50vw 0 4.01vw 0;
    
}
.about_text button{
    background: none;
    background-image: url("/media/button_back.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    height: 7.71vw;
    width: 26.88vw;
    color: white;
    font-size: 1.88vw;
}
.about_text{
    text-align: center;
    width: 38.90vw;
}
.about_img{
    height: 43.33vw;
    width: 32.40vw;
    background-image: url("/media/about_back.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_img img{
    height: 40.60vw;
    width: 26.77vw;
}
/* конец о компании */
/* начало галереи */
.gallery_cont h2{
    font-size: 3.33vw;
    text-align: center;
    font-weight: 500;
    margin-bottom: 5.57vw;
}
.gallery{
    position: relative;
    background-image: url("/media/galleryBack.svg");
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    height: 39.06vw;
}
.galleryGrid{
    display: grid;
    grid-template-columns: 15.42vw 14.53vw 17.45vw 14.27vw;
    grid-template-rows: 11.56vw 10.52vw 6.67vw;
    gap: 1.04vw;
    width: 64.79vw;
}
.galleryGrid img{
    height: 100%;
    width: 100%;
}
.gallery1{
    grid-row: 1/3;
}
.gallery3{
    grid-column: 3/4;
    grid-row: 1/4;
}
.gallery4{
    grid-column: 4/5;
    grid-row: 1/3;
}
.gallery6{
    
    grid-row: 2/4;
}
.galleryPlant{
    position: absolute;
    right: 0;
    bottom: 0;
}
/* конец галереи */