
.product_label{
    display: flex;
    width: 53.13vw;
    height: 33.70vw;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url('/media/productBack.svg');
    background-size:  100%;
    background-position: left top;
    align-items: center;
    justify-content: space-between;
}
.img_cont{
    width: 25.42vw;
    height: 31.61vw;
    overflow: hidden;
    align-self: flex-start;
    margin-right: -2.66vw;
    margin-top: -1.88vw;
}
.img_cont img{
    width: 100%;
    height: auto;
}
.product_label h2{
    font-weight: 400;
    font-size: 2.08vw;
    margin-top: -9.91vw;
}
.product_label p{
    font-size: 1.67vw;
    margin-top: 1.88vw;
}
.product_label p, .product_label h2{
    margin-left: 3.91vw;
    
}
.text{
    padding: 3.96vw 4.38vw 3.96vw;
    width: 49.11vw;
    margin: auto;
    background-color: #CCA76E;
    font-size: 1.67vw;
    text-align: justify;
}
.product{
    padding: 4.48vw 3.13vw 3.65vw;
    border: black 0.10vw solid;
    width: fit-content;
    margin: auto;
}